"*":
  Hydrogen: {}
  "atom-beautify":
    cpp: {}
    general:
      beautifyEntireFileOnSave: false
  "atom-ide-ui":
    use: {}
  "autocomplete-paths":
    followSymlinks: true
    ignoreBuiltinScopes: true
    imagePreview: true
    normalizeSlashes: false
    scopes: [
      {
        extensions: [
          ".tex"
          ".bib"
          ".tikz"
        ]
        prefixes: [
          "\\\\input{"
          "\\\\include(?:only)?{([^\\}]*?\\,\\s*)*"
          "\\\\(?:addbibresource|add(?:global|section)bib)(?:\\[.*?\\])?{"
          "^%\\s*!T[eE]X\\s+(root|bib)\\s*=\\s*"
        ]
        relative: true
        projectRelativePath: true
        replaceOnInsert: [
          [
            ".tex"
            ""
          ]
        ]
        scopes: [
          "text.tex.latex"
          "text.tex.latex.tikz"
        ]
      }
      {
        extensions: [
          ".jpeg"
          ".jpg"
          ".png"
        ]
        prefixes: [
          "\\\\includegraphics(\\[.*?\\])?{"
        ]
        relative: true
        projectRelativePath: true
        scopes: [
          "text.tex.latex"
          "text.tex.latex.tikz"
        ]
      }
    ]
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    enableBuiltinProvider: false
  core:
    disabledPackages: [
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
    ]
    editor:
      multiCursorOnClick: true
    packagesWithKeymapsDisabled: [
      "latex"
    ]
    packagesWithSnippetsDisabled: [
      "language-latex"
    ]
    telemetryConsent: "no"
    titleBar: "custom"
  editor:
    fontFamily: "FiraCode-Light"
    fontSize: 19
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "fe680ec1-f2a8-475a-8691-fef27f518625"
  "gpp-compiler":
    compileToTmpDirectory: false
  hyperclick:
    darwinTriggerKeys: "altKey"
  latex:
    opener: "pdf-view"
    outputDirectory: "build"
  latexer:
    autocomplete_environments: false
    autocomplete_references: false
  "pdf-view":
    reverseSyncBehaviour: "Double click"
  "pdfjs-viewer":
    disableValidation: false
    overrideFingerprint: true
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.rst"
      "text.restructuredtext"
      "text.tex.latex"
      "text.tex.latex.beamer"
    ]
  "split-diff":
    ignoreWhitespace: true
  "tree-view":
    autoReveal: true
  welcome:
    showOnStartup: false
".beamer.latex.tex.text":
  editor:
    preferredLineLength: 120
    softWrapAtPreferredLineLength: false
".bibtex.text":
  editor:
    softWrapAtPreferredLineLength: false
".latex.log.text":
  editor:
    softWrapAtPreferredLineLength: false
".latex.memoir.tex.text":
  editor:
    preferredLineLength: 120
    softWrapAtPreferredLineLength: false
".latex.tex.text":
  editor:
    preferredLineLength: 100
    softWrap: true
    softWrapAtPreferredLineLength: true
".python.source":
  editor:
    autoIndentOnPaste: true
    softWrap: true
    softWrapAtPreferredLineLength: true
".tex.text":
  editor:
    softWrapAtPreferredLineLength: false
